{{ define "main" }}

<section>

<h1>Research Notes</h1>

<p class="page-intro">
Research notes documenting observations, methodological decisions, technical challenges, and insights throughout ongoing research projects.
</p>

</section>

<section>

<div class="stack">

{{ range .Pages.ByDate.Reverse }}

<a class="list-link" href="{{ .RelPermalink }}">

    <article class="list-item mb-2">

        <p class="card-meta mt-2">
            {{ .Date.Format "2 January 2006" }}
        </p>

        {{ with .Params.preview }}
        <p class="card-preview mt-3">
            {{ . }}
        </p>
        {{ end }}

        <p class="card-meta mt-1">
          {{ .Params.project_title }}
        </p>

    </article>

</a>

{{ end }}

</div>

</section>

{{ end }}