{{ define "main" }}

<h1>Research</h1>

<div class="projects">

  {{ range .Pages.ByDate }}

  <article class="card">

    <h2 class="card-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>

    <p class="card-meta">
      {{ .Date.Format "January 2006" }}
    </p>

    {{ with .Params.preview }}
      <p class="card-preview">
        {{ . }}
      </p>
    {{ end }}

    {{ with .Params.status }}
      <p class="card-meta">
        Status: {{ . }}
      </p>
    {{ end }}

    {{ with .Params.research_question }}
      <div class="metadata">
        <strong>Research Question</strong>
        <p>{{ . }}</p>
      </div>
    {{ end }}

    {{ with .Params.method_keywords }}
      <div class="metadata">
        <strong>Methods</strong>
        <p>{{ . }}</p>
      </div>
    {{ end }}

  </article>

  {{ end }}

</div>

{{ end }}
