{{ define "main" }}

<article class="project-page">

  <header class="page-header">

    <h1>{{ .Title }}</h1>

    <div class="page-meta">

      <span>{{ .Date.Format "2 January 2006" }}</span>

      {{ with .Params.status }}
        <span>• Status: {{ . }}</span>
      {{ end }}

    </div>

    {{ with .Params.publication_url }}
      <div class="page-links">

        <strong>Publication</strong>

        <p>
          <a href="{{ . }}">
            {{ $.Params.publication_title }}
          </a>
        </p>

      </div>
    {{ end }}

  </header>

  <hr>

  <div class="page-content">
    {{ .Content }}
  </div>

</article>

{{ end }}