{{ define "main" }}

<section>

<h1>Publications</h1>

<p class="page-intro">
Publications, preprints, and other scholarly outputs related to my research.
</p>

</section>

<section>

<div class="stack">

{{ range .Pages.ByDate.Reverse }}

<p class="publication-citation">

  <a class="inline-link" href="{{ .RelPermalink }}">

    {{ .Params.authors }}
    ({{ .Params.year }}).

    <span class="publication-title">
      {{ .Title }}.
    </span>

    {{ .Params.venue }}

    {{ .Params.status }}.

  </a>

</p>

{{ end }}

</div>

</section>

{{ end }}