{{ define "main" }}

<header class="page-header">

<h1>Publications</h1>

<p class="page-intro">
Publications, preprints, and other scholarly outputs related to my research.
</p>

</header>

<div class="publication-list">

{{ range .Pages.ByDate.Reverse }}

<p class="publication-citation">

  <a class="publication-link" href="{{ .RelPermalink }}">

    {{ .Params.authors }}
    ({{ .Params.year }}).

    <span class="publication-title">
      {{ .Title }}.
    </span>

    {{ .Params.venue }}

  </a>

</p>

{{ end }}

</div>

{{ end }}