{{ define "main" }}

<!-- Publications -->

<section>

    <h1>{{ .Title }}</h1>

    <p class="page-intro">
        {{ .Params.description }}
    </p>

</section>

<section>

    <div class="stack">

        {{ range .Pages.ByDate.Reverse }}

        <p class="publication-citation">

            <a class="inline-link" href="{{ .RelPermalink }}">

                {{ .Params.authors }}
                ({{ .Params.year }}).

                <span class="publication-title">
                    {{ .Title }}.
                </span>

                {{ .Params.venue }}

                {{ .Params.status }}.

            </a>

        </p>

        {{ end }}

    </div>

</section>

{{ end }}